body{
    background-color: rgb(5, 7, 35);
    color: rgb(117, 221, 150);
    Arial, sans-serif;
    font-size: 18px;
    margin: 2;
    padding: 2;
    text-align: left;

}
label{
    color:beige

}
